<button title="Toggle Theme" class="theme-toggle">
  <img src="{{ '/assets/images/pokeball.png' | relative_url }}" alt="Toggle Theme" id="pokeball-image">
</button>
<style>
.theme-toggle {
  position: fixed;
  top: 0.5px;
  right: 0.5px;
  width: 240px;  
  height: 240px;  
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1000;
}

.theme-toggle img {
  width: 100%; 
  height: auto;  
}

.theme-toggle:hover #pokeball-image {
  content: url('{{ '/assets/images/pokeball.png' | relative_url }}'); /* Hover image with red top */
}

[data-theme='dark'] #pokeball-image {
  content: url('{{ '/assets/images/dark-pokeball.png' | relative_url }}'); /* Dark mode image with black Pokeball */
}

[data-theme='light'] #pokeball-image {
  content: url('{{ '/assets/images/pink-pokeball.png' | relative_url }}'); /* Light mode image with pink top */
}
</style>
