<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', () => {
    const button = document.querySelector('.theme-toggle');
    let currentTheme = localStorage.getItem('theme') || 'light'; // Default to light
    document.documentElement.setAttribute('data-theme', currentTheme);
    updatePokeballImage(currentTheme);
    
    button.addEventListener('click', (event) => {
      event.stopPropagation();  // Prevents event from bubbling up
      currentTheme = (currentTheme === 'dark') ? 'light' : 'dark';
      document.documentElement.setAttribute('data-theme', currentTheme);
      localStorage.setItem('theme', currentTheme);
      updatePokeballImage(currentTheme);
    });

    document.addEventListener('click', (event) => {
      if (!button.contains(event.target)) {
        return;
      }
    });
  });

  function updatePokeballImage(theme) {
    const pokeballImage = document.getElementById('pokeball-image');
    if (theme === 'dark') {
      pokeballImage.src = "{{ '/assets/images/dark-pokeball.png' | relative_url }}";
    } else {
      pokeballImage.src = "{{ '/assets/images/pink-pokeball.png' | relative_url }}";
    }
  }
</script>

