ul.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0em;
  margin-left: -40px;
}

ul.horizontal-list li {
  display: inline;
  margin-right: 1em;
}

ul.horizontal-list li a {
  text-decoration: none;
  font-weight: normal;
}


.card {
  padding: 1em;
  border: 1px var(--text) solid;
  width: 11em;
  height: auto;
  text-align: center;
  font-size: 1em;
  align-items: center;
  background-color: var(--bg-secondary);
  margin-bottom: 0.8em;
  border-radius: 0.5em;

  .header {
    color: var(--links);
    font-weight: bold;
  }

  .body {
    font-size: 0.8em;
  }

  hr {
    margin: 0.5em 0;
  }

}




/* Adjust text color for list items */
ul, ol {
  color: inherit; /* Inherit the body text color */
}
