@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html { height: 100%; }

body {
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
}

.site-title {
  font-size: 36pt;
}

.post-content {
  line-height: 150%;
}

pre, code {
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 1rem;
}

h2, h3, h4, h5 {
  margin-top: 1.5em;
}

hr {
  margin: 1em 0;
}

hr.page-break {
  text-align: center;
  border: 0;

  &:before { content: '-----'; }
  &:after { content: attr(data-content) '-----'; }
}

p {
  margin: 1em 0;
}

li {
  margin: 0.4em 0;
}

.w {
  max-width: 720px;
  margin: 0 auto;
  padding: 4em 2em;
}

table, th, td {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4em;
}

div.highlighter-rouge pre code, pre code.highlighter-rouge {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1em;

  p { margin: 0; }
}

img {
  max-width: 100%;
}

@mixin light-appearance {
  html, body {
      --bg: #fdf3f6;
      --bg-secondary: #f3f4f6;
      --bg-alt: #f3f6fd;
      --headings: #f0166f;
      --text: #000000;
      --text-secondary: #fe91c9;
      --links: 	#166ff0;
      --highlight: #FFECB2; 
      --code-text: #9D174D;
      --share-text: #999;
      --subheading2: #FFB6C1;  /* Light Pink */
      --subheading3: #b6c1ff;  /* Hot Pink */
      --subheading4: #FF1493;  /* Deep Pink */
      --subheading5: #FF85C0;  /* Soft Pink */
      --subheading6: #DB7093;  /* Pale Violet Red */
      --subheading7: #FF69B4;
      --titlesubheading: #b6c1ff;  /* Magenta */
  }
}

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  html, body  {
      --headings: #b7143a;
      --links: #14b791;
      --highlight: #FFECB2;
      --bg: #1f242A;
      --bg-secondary: #282d37;
      --bg-alt: #1f242a;
      --text: #FFF;
      --text-secondary: #d37288;
      --code-text: #9D174D;
      --share-text: #C4C4C4;
      --subheading2: #9e2c47 ; 
      --subheading3: 	#b8e9de;  
      --subheading4: #C4232B;  
      --subheading5: #A8034B;  
      --subheading6: #750234;  
      --subheading7: #14b791;  
      --titlesubheading: #b8e9de; 
  };
}

html[data-theme="dark"] { @include dark-appearance; }
html[data-theme="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] { @include dark-appearance; }
}
@media (prefers-color-scheme: light) {
  body[data-theme="auto"] { @include light-appearance; }
}

html, body {
  background-color: var(--bg);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier Prime', Courier, monospace;
}


h1 { color: var(--headings); }  /* Keeping h1 the same as in your original setup */
h2 { color: var(--subheading2); }
h3 {color: var(--subheading3);}
h4 {color: var(--subheading4);}
h5 {color: var(--subheading5);}
h6 {color: var(--subheading6);}

h7 {
color: var(--subheading7);




}
p, strong, b, em, small, li, hr, table, figcaption {
  color: var(--text);
  font-family: 'Courier Prime', Courier, monospace;
}

.highlight, pre code, blockquote {
  border-radius: 0.5em;
}

blockquote {
  background-color: var(--bg-secondary);
  border: 1px var(--border) solid;
  font-family: 'Courier Prime', Courier, monospace;
}

a {
  color: var(--links);
  font-family: 'Courier Prime', Courier, monospace;
  font-weight: bold;
}

*:target {
  background-color: var(--bg-secondary);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 250ms !important;
  transition-delay: 0 !important;
}

.theme-toggle {
  color: var(--text);
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
  margin: 1em;
  position: fixed;
  right: 0;
  top: 0;
  border: 2px transparent solid;
  outline: none;
}

.theme-toggle:hover {
  color: var(--links);
  outline: none;
}

.theme-toggle:focus {
  outline: none;
}

.dashed {
  border-top: 3px var(--text) groove;
  margin: 0.5em 0;
}

mark {
  padding: 0.4em;
  background-color: var(--highlight);
  font-size: 0.6em;
}

.post-date {
  color: var(--text-secondary);
  margin-top: 1rem;
  font-size: 0.7em;
  font-family: 'Courier Prime', Courier, monospace;
}

.home-date {
  font-family: 'Courier Prime', Courier, monospace;
}

.post-list-item a {
  text-decoration: none;
}

.text-bold {
  font-weight: bold;
}

.text-upcase {
  text-transform: uppercase;
}

p code, li code {
  background-color: var(--bg-secondary);
  padding: 0.2rem;
  color: var (--code-text);
  font-weight: bold;
  font-family: 'Courier Prime', Courier, monospace;
}

.post-title {
  margin-bottom: -1.5rem;
}

.project-title {
  margin-bottom: 0.8rem;
}

.credits {
  font-size: 0.8em;
  color: var (--text);
  margin: 8em auto -4em auto;
  text-align: center;
  font-family: 'Courier Prime', Courier, monospace;

  a {
    color: var (--text);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: var (--links);
  }
}

.tag {
  font-family: 'Courier Prime', Courier, monospace;
  color: var(--text-secondary);
  padding: 0.4em 1em;
  margin-right: 0.5em;
  border-radius: 1em;
  background-color: var (--bg-secondary);
  font-size: 0.7em;
  font-weight: bold;
  text-transform: lowercase;
}

.home-header {
  display: flex;
  align-items: center;
}

.home-intro {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 20px;
}

.home-text {
  flex: 1;
  padding-right: 20px;
}

.home-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--text);
  transition: all 0.3s ease;  
}

.footer-container {
  position: relative;
}

.footer-image {
  position: absolute;
  bottom: -8px; 
  right: 10px; 
  width: 50px; 
  height: 50px; 
}

.footer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

