---
layout: default
---

<header>
  {% if site.theme_config.show_navbar == true %}
    {% include horizontal_list.html collection=site.data.home.navbar_entries %}
    <div class="dashed"></div>
  {% endif %}
 

  <h1 style="margin-bottom: 0;">{{ site.title }}
  <h3 style="margin-top: 0;" align="justify">{{ site.subtitle }}</h3></h1>
  <div class="home-intro">
    <div class="home-text">
      {% if site.theme_config.show_description == true %}
        <p>Hi! I'm <strong>Serena</strong>, a Data Scientist based in <strong>Irvine, CA</strong> with experience in the Defense, Technology, and Food Distribution industries. I enjoy piecing together small bits of information to gain a better perspective on the world at large. My favorite topics to analyze are Technology, Sports, and International Relations.
          
          
      {% endif %}
    </div>
    {% if site.data.home.image %}
      <div class="home-image">
        <img src="{{ site.baseurl }}/{{ site.data.home.image }}" alt="Home Image" class="home-profile-image">
      </div>
    {% endif %}
  </div>

 <div class="home-text" >Check out some of my projects below or <a href="/blog" target="_self">my blog</a>!</div>
</header>

{{ content }}

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects2 }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries_2 %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>{{ site.theme_config.home.title_blog }}</h2>
  {% include post_list.html %}
{% endif %}

{% if site.theme_config.show_footer == true %}
  <footer>
    <div class="dashed"></div>
    {% include horizontal_list.html collection=site.data.home.footer_entries %}
  </footer>
{% endif %}
